<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login</title>
    <style type="text/css">
        .fieldset-auto-width {
            display: inline-block;
        }
    </style>
</head>
<body>
<form action="http://localhost:8080/user/register" method="POST">
    <fieldset class="fieldset-auto-width">
        <legend>Вход в систему</legend>

        <label for="userName">Имя пользователя</label>
        <input type="text" userName="login">

        <label for="password">password</label>
        <input type="text" password="password">

        <label for="matchingPassword">matchingPassword</label>
        <input type="text" matchingPassword="password">

        <label for="code">code</label>
        <input type="text" code="password">

        <input type="submit">
    </fieldset>
</form>

</body>
</html>