<div th:fragment="header_fragment">
    <div class="header">
        <a href="" class="logo">
            <span class="logo_img"></span>
            <span class="logo_text">Effectiveness</span>
        </a>
        <nav>
            <ul class="nav">
                <li><a href="/projects">Проекты</a></li>
                <li><a href="/personal">Сотрудники</a></li>
                <li><a href="/chatgroup">Личные чаты</a></li>
                <li><a href="/profile">Личный кабинет</a></li>
                <li><a href="/logout"><button class="nav_btn" type="button">Выход</button></a></li>
            </ul>
        </nav>
    </div>
</div>